<nav class="navbar navbar-inverse"  *ngIf="authenticationService.isAuthenticated">
  <div class="container">
    <div >
      <ul class="nav navbar-nav">
      <li>
      <a class="navbar-brand active"   routerLink="/" >Login App</a>
    </li>
      <li class="active"><a routerLink="/home">Home</a></li>
      <!-- <li><a href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li>
      <li><a href="#">Page 3</a></li> -->
    </ul>
  </div>
  </div>
</nav>

<!-- <app-login></app-login>
<app-home></app-home>  -->
<router-outlet></router-outlet>



<!-- <nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <li>
      <a class="navbar-brand"   routerLink="/login" >Login App</a>
    </li>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a routerLink="/home">Home</a></li>
      <li><a href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li>
      <li><a href="#">Page 3</a></li> 
    </ul>
  </div>
</nav> -->